<ion-app>
    <ion-menu contentId="content1" side="start" class="bg-class-content">
        <ion-header class="bg-class-header">
            <ion-toolbar>
                <ion-title class="ion-text-center"><img src="./assets/logo.png" width="150px"></ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content style="--background: transparent;">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="ion-text-center">
                        <img src="./assets/icon_menu_profile.svg" width="64px"/>
                    </ion-col>
                    <ion-col size="8">
                        <div class="profile-header">Name</div>
                        <div class="profile-text">Max Mustermann</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-list style="background: transparent;">
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                    <ion-item style="--background: transparent" [routerDirection]="'root'" [routerLink]="[p.url]">
                        <ion-icon class="big" [src]="p.icon"></ion-icon>
                        <ion-label class="menuitem-text">
                            {{p.title}}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
        <ion-footer class="ion-text-center">
            <ion-toolbar>
                <img src="../assets/icon_i.svg" width="32px">
            </ion-toolbar>
        </ion-footer>
    </ion-menu>
    <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
